body {
  margin: 0px;
  font-size: 44px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1110px;
}

header,
aside,
main,
footer {
  border-radius: 10px;
  padding: 1rem;
}

header,
footer {
  background-color: lightslategray;
  color: white;
}

section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

aside {
  flex-grow: 1;
}
main {
  flex-grow: 2;
}

.sidebar,
.content {
  color: white;
  background-color: gray;
}

.sidebar-2 {
  color: black;
  background-color: lightgray;
}

@media screen and (max-width: 900px) {
  .sidebar-2 {
    width: 100%;
  }

  section {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  section {
    flex-direction: column;
  }
}
