*,
*::after,
*::before {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

.container {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: absolute;
  padding: 36px 0;
  left: 50%;
  transform: translateX(-50%);
}

.header-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.header-wrapper nav {
  display: flex;
}

.header-wrapper nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .logo {
  width: 88px;
  height: 22px;
}

header .logo-link {
  margin-right: auto;
}

.nav-actions {
  margin-left: 39px;
  display: flex;
  gap: 20px;
}

header button {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.search {
  background-image: url(../icons/search.svg);
}
.shop {
  background-image: url(../icons/shop.svg);
}
.burger {
  right: -140px;
  top: 50%;
  transform: translate(50%, -50%);
  position: absolute;
  background-image: url(../icons/toggler.svg);
}

/* end of Header */
/* Start of Main */

.first-page {
  padding-top: 295px;
  padding-bottom: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images//background.jpg');
}

.first-page h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  margin: 0;
  width: 600px;
}

.first-page p {
  font-weight: 500;
  font-size: 20px;
  margin-top: 35px;
  line-height: 30px;
  margin-bottom: 0;
  width: 550px;
}

/* Buttons */

.auth-buttons {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.btn-padding {
  padding: 10px 36px 10px 36px;
}
.btn-primary {
  background-color: #ff7b47;
  border-radius: 37px;
  color: #ffffff;
}
.btn-secondary {
  margin-left: 10px;
  border: 1px solid #0d5c63;
  border-radius: 37px;
  color: #0d5c63;
}
@media screen and (max-width: 800px) {
}

/* Industry Section Starts */
.industry {
  padding-top: 80px;
  text-align: center;
}
.container > h1 {
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.main-p {
  padding: 0px;
  margin: 10px 0px 80px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.flex-container {
  display: flex;
  flex-direction: reverse;
  gap: 30px;
  margin-bottom: 80px;
}
.flex-items {
  background: #d9edff;
  border-radius: 10px;
}

.icon {
  float: left;
  margin-top: 30px;
  margin-left: 42.5px;
  margin-bottom: 30px;
  padding: 0px;
  width: 72px;
  height: 72px;
}
.humans {
  background-image: url(../icons/humans.svg);
}
.badge {
  background-image: url(../icons/badge.svg);
}
.note {
  background-image: url(../icons/note.svg);
}
.head-style {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-top: 54px;
}

.flex-items > ul {
  padding: 30px 44px 30px 50px;
  margin: 0px;
  clear: both;
  list-style: none;
  background-color: white;
  border: 1px solid #a9d6ff;
  border-radius: 11px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.flex-items > ul > li {
  color: #737373;
}
.flex-items > ul > a {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #ff7b47;
}

/* Start of We section */
.content-section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
}
.we-p {
  margin: 10px 0px 50px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.contras {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350px;
  background-color: #0b101d;
  z-index: -1;
}
/* End of We */

/* Start of Client */
.cards {
  padding: 30px 35px;
  border: 1px solid #dedede;
  border-radius: 5px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.stars {
  width: 110px;
  height: 22px;
  background-image: url(../icons/stars.svg);
  margin-bottom: 21px;
}
.cards > p {
  margin: 0px;
}
.cards > img {
  margin-top: 20px;
  margin-right: 15px;
  float: left;
}
.cards > strong {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.client-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}
.client-name {
  color: #ff7b47;
}

.client-occup {
  color: #252b42;
}
/* End of Client */
/* Our Team */

.team-card {
  border: 1px solid #eeeeee;
}
.team-card img {
  margin-bottom: 30px;
}
/* for some reason when I gave margin-top to strong below didn't work? */
.team-card strong {
  /* margin-top: 30px; */
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.team-card > p {
  margin: 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.social {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 5px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}
.fb {
  background-image: url(../icons/fb.svg);
}
.ig {
  margin-left: 15px;
  margin-right: 15px;
  background-image: url(../icons/ig.svg);
}
.tw {
  background-image: url(../icons/tw.svg);
}
/* End of Our Team */
/* Start of Contact-us */
.contact-us {
  background-image: url(../images/contact-bckg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  position: relative;
}
.contact-wrapper {
  margin-left: 195px;
  margin-bottom: 92px;
}
.cotact-wrapper > strong {
  margin-top: 0px;
  padding: 0px;
}
.contact-wrapper > h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: left;
}
form > input,
select,
textarea {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
form > input,
select {
  width: 17.8rem;
}
form > textarea {
  width: 37.375rem;
}

::placeholder,
select {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #bdbdbd;
}
.contact-wrapper select {
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 18px;
  margin: 20px 0px;
}
.contact-wrapper input {
  padding-top: 11px;
  padding-left: 21px;
  padding-bottom: 15px;
}
.contact-wrapper textarea {
  padding-top: 16px;
  padding-left: 26px;
  margin-bottom: 40px;
}

input[type='text'] {
  margin-right: 21px;
}

select[name='select-date'] {
  margin-right: 21px;
}
.btn-link {
  background: #ff7b47;
  border-radius: 5px;
  padding: 15px 40px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
}
.contact-wrapper > .btn-link {
  display: inline-block;
  margin-bottom: 92px;
}
.contact-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 398px;
  padding-top: 40px;
  padding-left: 195px;
  padding-bottom: 40px;
  background-color: white;
  width: 100%;
}
.description > h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.description > p {
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
/* end of Contact-us */

/* start of Footer */

footer {
  background-color: #252b42;
}
.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #ffffff;
  padding-top: 53px;
  padding-bottom: 57px;
  border-bottom: 1px solid #364067;
}

.fb-b {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.04 0H0.96C0.429 0 0 0.429 0 0.96V23.04C0 23.571 0.429 24 0.96 24H23.04C23.571 24 24 23.571 24 23.04V0.96C24 0.429 23.571 0 23.04 0ZM20.268 7.005H18.351C16.848 7.005 16.557 7.719 16.557 8.769V11.082H20.145L19.677 14.703H16.557V24H12.816V14.706H9.687V11.082H12.816V8.412C12.816 5.313 14.709 3.624 17.475 3.624C18.801 3.624 19.938 3.723 20.271 3.768V7.005H20.268Z' fill='%23335BF5'/%3E%3C/svg%3E%0A");
}
.ig-r {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0016 5.84744C8.59659 5.84744 5.84859 8.59544 5.84859 12.0004C5.84859 15.4054 8.59659 18.1534 12.0016 18.1534C15.4066 18.1534 18.1546 15.4054 18.1546 12.0004C18.1546 8.59544 15.4066 5.84744 12.0016 5.84744ZM12.0016 15.9994C9.79959 15.9994 8.00259 14.2024 8.00259 12.0004C8.00259 9.79844 9.79959 8.00144 12.0016 8.00144C14.2036 8.00144 16.0006 9.79844 16.0006 12.0004C16.0006 14.2024 14.2036 15.9994 12.0016 15.9994ZM18.4066 4.16144C17.6116 4.16144 16.9696 4.80344 16.9696 5.59844C16.9696 6.39344 17.6116 7.03544 18.4066 7.03544C19.2016 7.03544 19.8436 6.39644 19.8436 5.59844C19.8438 5.40966 19.8068 5.22269 19.7347 5.04824C19.6625 4.87379 19.5567 4.71528 19.4232 4.5818C19.2897 4.44831 19.1312 4.34247 18.9568 4.27034C18.7823 4.19821 18.5954 4.1612 18.4066 4.16144ZM23.9956 12.0004C23.9956 10.3444 24.0106 8.70344 23.9176 7.05044C23.8246 5.13044 23.3866 3.42644 21.9826 2.02244C20.5756 0.615437 18.8746 0.180437 16.9546 0.0874372C15.2986 -0.00556279 13.6576 0.00943725 12.0046 0.00943725C10.3486 0.00943725 8.70759 -0.00556279 7.05459 0.0874372C5.13459 0.180437 3.43059 0.618437 2.02659 2.02244C0.619588 3.42944 0.184588 5.13044 0.0915876 7.05044C-0.0014124 8.70644 0.0135876 10.3474 0.0135876 12.0004C0.0135876 13.6534 -0.0014124 15.2974 0.0915876 16.9504C0.184588 18.8704 0.622588 20.5744 2.02659 21.9784C3.43359 23.3854 5.13459 23.8204 7.05459 23.9134C8.71059 24.0064 10.3516 23.9914 12.0046 23.9914C13.6606 23.9914 15.3016 24.0064 16.9546 23.9134C18.8746 23.8204 20.5786 23.3824 21.9826 21.9784C23.3896 20.5714 23.8246 18.8704 23.9176 16.9504C24.0136 15.2974 23.9956 13.6564 23.9956 12.0004ZM21.3556 19.0744C21.1366 19.6204 20.8726 20.0284 20.4496 20.4484C20.0266 20.8714 19.6216 21.1354 19.0756 21.3544C17.4976 21.9814 13.7506 21.8404 12.0016 21.8404C10.2526 21.8404 6.50259 21.9814 4.92459 21.3574C4.37859 21.1384 3.97059 20.8744 3.55059 20.4514C3.12759 20.0284 2.86359 19.6234 2.64459 19.0774C2.02059 17.4964 2.16159 13.7494 2.16159 12.0004C2.16159 10.2514 2.02059 6.50144 2.64459 4.92344C2.86359 4.37744 3.12759 3.96944 3.55059 3.54944C3.97359 3.12944 4.37859 2.86244 4.92459 2.64344C6.50259 2.01944 10.2526 2.16044 12.0016 2.16044C13.7506 2.16044 17.5006 2.01944 19.0786 2.64344C19.6246 2.86244 20.0326 3.12644 20.4526 3.54944C20.8756 3.97244 21.1396 4.37744 21.3586 4.92344C21.9826 6.50144 21.8416 10.2514 21.8416 12.0004C21.8416 13.7494 21.9826 17.4964 21.3556 19.0744Z' fill='%23E61F5A'/%3E%3C/svg%3E");
}
.tw-b {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.0004 2.46548C23.1188 2.85141 22.1594 3.12917 21.1711 3.23735C22.1971 2.61879 22.9655 1.64156 23.332 0.489007C22.3692 1.07022 21.3145 1.47778 20.2146 1.6936C19.7549 1.19488 19.1989 0.797581 18.5813 0.526453C17.9636 0.255325 17.2976 0.116179 16.6247 0.117688C13.902 0.117688 11.7123 2.3573 11.7123 5.10564C11.7123 5.49158 11.7584 5.87752 11.8333 6.24884C7.7565 6.03248 4.12048 4.05601 1.7032 1.0299C1.26274 1.79335 1.03193 2.66261 1.03477 3.54727C1.03477 5.27814 1.902 6.80435 3.22444 7.70195C2.44511 7.6708 1.68402 7.45342 1.00308 7.06749V7.12889C1.00308 9.5527 2.69143 11.5613 4.94161 12.0233C4.51912 12.1347 4.08449 12.1916 3.64797 12.1929C3.32817 12.1929 3.02565 12.1607 2.72024 12.1168C3.34257 14.0933 5.15482 15.5289 7.3128 15.5757C5.62444 16.9177 3.50968 17.7071 1.2134 17.7071C0.801397 17.7071 0.421085 17.6925 0.0263672 17.6457C2.20452 19.0637 4.78891 19.8824 7.5721 19.8824C16.6074 19.8824 21.5514 12.2864 21.5514 5.69332C21.5514 5.47696 21.5514 5.2606 21.537 5.04424C22.4936 4.33377 23.332 3.45371 24.0004 2.46548Z' fill='%2321A6DF'/%3E%3C/svg%3E%0A");
}
.youtube {
  background-image: url(../icons/youtube.svg);
  padding: 0px;
}
.icons > div {
  padding: 0px;
  margin: 0px;
}
.icons > div:not(:last-child) {
  margin-right: 20px;
}
/* I had to give the measurments randomly here */

.footer-table {
  width: 65%;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 70px;
  color: #ffffff;
  margin-right: 555px;
}
.footer-table th {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}
.footer-table td {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #bdbdbd;
  margin-top: 10px;
}
.right-reserved {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 195px;
  background-color: #17213c;
}
