body {
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 6fr 2fr 2fr 2fr;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
}

.grid-container > * {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header,
.menu,
.hero,
.main {
  color: white;
}

.header {
  background-color: #0d1526;
}

.menu {
  grid-column: 2/5;
  background-color: #f03c4d;
}

.hero {
  grid-column: span 4;
  background-color: #1e90ff;
}

.main {
  grid-column: span 2;
  grid-row: 3/5;
  background-color: #24344b;
}

.extra {
  grid-column: 4/5;
  grid-row: 4/5;
  background-color: #06d6a0;
}

.image {
  grid-column: 4/5;
  grid-row: 3/4;
  background-color: #bee9e8;
}

.banner {
  grid-column: span 4;
  background-color: #ffd166;
}

@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 2fr 1fr;
  }
  .header {
    grid-column: span 4;
  }
  .hero {
    grid-column: span 4;
    grid-row: 2/3;
  }
  .main {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .menu {
    grid-column: span 1;
    grid-row: 3/6;
  }
  .banner {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .nested {
    grid-column: 2/4;
    grid-row: 5/6;
  }
  .image {
    grid-column: 3/4;
    grid-row: 5/6;
  }
  .extra {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

@media screen and (max-width: 576px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .banner {
    order: 1;
  }
  .extra {
    order: 2;
  }
  .image {
    order: 3;
  }
}
