body {
  box-sizing: border-box;
}

div {
  border-width: 3px;
  border-style: solid;
  border-color: black;
  background-color: red;
  border-radius: 10px;
  width: 500px;
  max-height: 700px;
}

header {
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

section {
  background-color: rgba(140, 6, 6, 0.474);
}

ul {
  margin-left: 10px;
}

/* li{
color: white;
text-align: left;
margin-block-start: 0%;
padding-left: 0px;
list-style-type: none;
line-height: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;} */
p {
  margin: 10px;
  float: ri;
}
img {
  float: right;
  position: center;
}
address {
  display: inline-block;
  color: white;
  text-align: left;
  margin-left: 10px;
  padding: 5px;
  list-style-type: none;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
}

footer {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-left: 10px;
}

.circle {
  border-radius: 50%;
  border-style: none;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  color: gray;
  text-align: center;
  line-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.button {
  margin: 20px;
  background-color: red;
  border: 1px ridge red;
  width: 250px;
  height: 50px;
  box-shadow: 3px 3px 5px rgb(56, 56, 56), 2px 2px 5px white inset;
  color: red;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgb(47, 47, 47);
  text-align: center;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
