*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 20px;
}
.frame {
  padding: 50px 10px 50px 10px;
  width: 400px;

  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgb(0 0 0 / 30%);
  background: #ca7c4e;
  background: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
  color: #786450;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card {
  margin-right: auto;
  margin-left: auto;
  width: 320px;
  display: grid;
  grid-template-columns: 200px 120px;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas:
    'profile  statistic'
    'profile  statistic'
    'profile statistic';
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.profile {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: profile;
  color: #786450;
}

.photo {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 38px auto 0 auto;
}
.photo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.circle-1 {
  width: 76px;
  height: 76px;
  top: -3px;
  left: -3px;
  border-color: #786450 #786450 #786450 transparent;
}

.circle-2 {
  width: 82px;
  height: 82px;
  top: -6px;
  left: -6px;
  border-color: #786450 transparent #786450 #786450;
}

.circle-1,
.circle-2 {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
}

.profile .photo:hover .circle-1,
.profile .photo:hover .circle-2 {
  transform: rotate(360deg);
}

.photo:hover,
.circle-2:hover {
  transform: rotate(-360deg) !important;
}

.profile em {
  font-style: normal;
  margin-bottom: 33px;
  font-size: 11px;
  line-height: 15px;
}
.profile strong {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
}
.btn {
  width: 120px;
  height: 30px;
  margin: 0 auto 10px auto;
  background: none;
  border: 1px solid #786450;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: #786450;
}

.btn:hover {
  background-color: #786450;
  color: #fff;
}

.statistics {
  display: grid;
  grid-area: statistic;
}
.box {
  background: #f5e8df;
  text-align: center;
  padding-top: 28px;
  transition: all 0.4s ease-in-out;
}

.box:hover {
  background: #e1cfc2;
  cursor: pointer;
}

.border {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
