body {
  margin: 20px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.frame {
  position: relative;

  width: 400px;
  height: 400px;
  background-color: #f6e8d7;
  background-image: radial-gradient(#f6e8d7 0%, #dabe9b 100%);
  box-shadow: 1px 2px 10px 0px rgb(0 0 0 / 30%);
  border-radius: 2px;
  overflow: hidden;
}
.floor {
  width: 400px;
  height: 156px;
  position: absolute;
  bottom: 0px;
  top: 244px;
  background-color: #232323;
}

.invisible-men {
  animation: fade-in 0.8s ease-out 1s;
  animation-fill-mode: both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.left-leg,
.right-leg {
  position: absolute;
  top: 0;
  left: 147px;
  width: 151px;
  height: 245px;
  transform-origin: 50% 0;
  animation-name: leg-swing;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.right-leg {
  animation-delay: 1s;
}
.right-leg .shoes {
  animation-delay: 1s;
}
@keyframes leg-swing {
  0%,
  100% {
    transform: rotate(-22deg);
  }
  50% {
    transform: rotate(40deg);
  }
}
.shoes {
  width: 151px;
  height: 128px;
  background-image: url(https://100dayscss.com/codepen/doc-martens.svg);
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 0 95%;
  animation-name: shoe-turn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes shoe-turn {
  0% {
    transform: rotate(-10deg) translateY(-5px) translateX(10px);
  }
  25% {
    transform: rotate(0deg) translateY(0px) translateX(0);
  }
  50% {
    transform: rotate(10deg) translateY(-10px) translateX(10px);
  }
  75% {
    transform: rotate(0deg) translateY(-30px) translateX(0);
  }
  100% {
    transform: rotate(-10deg) translateY(-5px) translateX(10px);
  }
}
